<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/stylemain.css' />
  </head>
  <body>
    <div class="main_card">
      <div class="innercard">

      <div class="title">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="text">
      <p>Welcome to our <%= title %>. <%= slug %>
      </p>
      </div>
      <div class="button">
        <a href="/courses/list/"><button class="btn1">Discover our Courses</button></a>
      </div>
    </div>
    </div>
   
  </body>
</html>
